.background-image {
    position: fixed;
    display: block;
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#imgs {
    position: relative;
    float: center;
    bottom: 0px;
    height: 40vw;
    /* width:50vh;*/
    /* width: auto\9;*/
    /* ie8 */
}

#bar {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    width: 20vw;
    height: auto;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    font-size: 1vw;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 4px 4px gray;
}

#buttondiv {
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 192, 203, 0.5);
    padding-bottom: 2eu;
    float: center;
}


#searchbutton {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    border-radius: 3px;
    border: 0;
    -webkit-appearance: none;
    height: 3vh;
    font-size: 1vw;
    box-shadow: 4px 4px gray;
}

#searcharea {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
}

#twitterfeed {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2eu;
    height: 100vh;
    float: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: pink;
    font-size: 45pt;
    text-shadow: 4px 4px black;
    margin-bottom: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: pink;
    font-size: 2em;
    text-shadow: 4px 4px black;
    margin-bottom: 0;
}

body {
    height: 100%;
    background-color: #323a3f;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

a,
a:active,
a:visited {
    color: white;
}

a:hover {
    background-color: pink;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.dropbtn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: .5vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    font-size: .75vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 1.5vw;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: pink
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: CornflowerBlue;
}

ul {
    list-style-type: none;
}

.leftfeed{
position: absolute;
left: 0;
}

.rightfeed {
position: absolute;
right: 0;	
}

.greeting {
}